#projects {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 90px 90px;
  margin-top: 10px;
  /* background-image: url("../spiral-background.jpg"); */
  /* background-size: 55rem; */

}

.project-title {
  font-size: 30px;
  width: 90vw;
  line-height: 120px;
  letter-spacing: 2x;
  color: rgb(51, 51, 50);
  font-family: "Inria Serif";
  font-style: italic;
  text-decoration: underline;
  text-underline-offset: 30px;
  text-align: left;
  font-weight: 500;
}

.project-card-container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 2rem;
justify-content: space-between;
padding: 40px 0;
width: 89vw;
}

.project-card {
  width: 55vh;
  height: 85vh;
  background-color: azure;
  border-radius: 20px;
}

.card1, .card5 {
  background-color: #B4593E;
}

.card2, .card6 {
  background-color:#99AA9F;
}

.card3 {
  background-color: #A46B6B;
}
.card4 {
  background-color: #6C8095;
}

.project-pic {
  width: 360px;
  height: 250px;
  margin: 15px;
  margin-bottom: 40px;
}

.project-name {
    font-size: 30px;
    width: 25vw;
    margin: 10px 30px;
    letter-spacing: 2px;
    line-height: 27px;
    color: whitesmoke;
    font-family: "Inter";
    font-weight: 600;  
}

.description {
  margin: 20px 30px;
  margin-right: 40px;
  text-align:left;
  color:#313131;
}

.github-demo {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 20px 30px;
}

.button-github {
background-color: rgba(255, 68, 0, 0);
color: white;
padding: 10px 20px;
font-family: "Inter";
font-size: 20px;
border: 3px white solid;
border-radius: 30px;
}

.button-github:hover {
  background-color: white;
  color:#413D3D;
  transition: 0.3s linear;
  }
  

.button-demo {
  background-color: #413D3D;
  color: white;
  padding: 12px 20px;
  font-family: "Inter";
  font-size: 20px;
  border: none;
  border-radius: 30px;
}

.button-demo:hover {
background-color: #FCD44A;
color:#413D3D;
transition: 0.3s linear;
}



/* Tablets - Portrait */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  #projects {
    padding: 90px 90px;
    margin-top: 10px;
  }
  
  .project-title {
    font-size: 52px;
    text-underline-offset: 40px;
    text-align: left;
  }
  
  .project-card-container {
  flex-direction: column;
  }
  
  .project-card {
    width: 75vh;
    height: 90vh;
  }
  
  .project-pic {
    width: 510px;
    border-radius: 10px;
    height: 300px;
  }
  
  .project-name {
      font-size: 35px;
      width: 72vw;
      line-height: 30px;
  }
  
  .description {
    font-size: 20px;
  }
  
  .github-demo {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 30px 30px;
  }
  
  .button-github {
  font-size: 25px;
  }
  
  .button-demo {
    font-size: 25px;
  }
}

/* Tablets - Landscape */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #projects {
    margin: 40px 0px;
    padding: 90px 60px;
  }
  
  .project-title {
    font-size: 52px;
    text-underline-offset: 40px;
    text-align: center;
    margin-bottom: 20px;;
  }
  
  .project-card-container {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  width: 87vw;
  }
  
  .project-card {
    width: 50vh;
    height: 80vh;
  }
  
  .project-pic {
    width: 327px;
    height: 230px;
    margin-bottom: 40px;
  }
  
  .project-name {
      font-size: 30px;
      width: 35vw;
  }
  
  .description {
  font-size: 17px;}
}

