#projects {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 90px 90px;

}

.project-title {
  font-size: 110px;
  width: 70vw;
  line-height: 120px;
  letter-spacing: 2x;
  color: rgb(51, 51, 50);
  font-family: "Inria Serif";
  font-style: italic;
  text-align: left;
  font-weight: 500;
}

.project-card-container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 4rem;
justify-content: space-between;
padding: 60px 0;
width: 87vw;
}

.project-card {
  width: 50vh;
  height: 65vh;
  background-color: azure;
  border-radius: 20px;
}

.card1, .card5 {
  background-color: #B4593E;
}

.card2, .card6 {
  background-color:#99AA9F;
}

.card3 {
  background-color: #A46B6B;
}
.card4 {
  background-color: #6C8095;
}

.project-pic {
  padding: 140px;
}

.project-name {
    font-size: 21px;
    width: 25vw;
    margin: 20px;;
    line-height: 75px;
    letter-spacing: 3px;
    color: whitesmoke;
    font-family: "Inter";
    font-weight: 600;  
}


