#contact {
  width: 100vw;
  margin-top: 150px;
  font-family: "Inter";
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-title {
  font-size: 170px;
  width: 100vw;
  line-height: 120px;
  letter-spacing: 2x;
  color: #99AA9F;
  font-family: "Inria Serif";
  font-style: italic;
  text-align: left;
  font-weight: 700;
  margin-bottom: 6rem;
  text-align: center;
}

.form-submit {
  display: flex;
  flex-direction: column;
}

.contact-socials {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 100vh;
  text-align: center;
}

.photo-socials {
  display: flex;
  flex-direction: row;
}
.socials-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem; 
}

.socials-group a{
  text-decoration: none;
  color: #fe6a24;
}

.socials-group a:hover{
  color: #6C8095;
  transition: 0.4s ease;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  margin-left: 38%;
  font-size: 30px;
}

.email-link {
  display: flex;
  flex-direction: row;
  margin-left: 65%;
  font-size: 30px;
}

.email-link a{
  text-decoration: none;
  color: #dd8a8a;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.email-link a:hover{
  color: #6C8095;
  transition: 0.5s ease;
}

/* Tablets - Portrait */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  #contact {
    margin-top: 150px;
  }
  
  .contact-title {
    font-size: 100px;
    margin-bottom: 4rem;
  }
  
  .contact-socials {
    gap: 6rem;
  }
  
  .socials-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem; 
  }

  
  .socials {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-left: 10%;
    font-size: 15px;
  }
  
  .email-link {
    margin-left: 25%;
    font-size: 22px;
  }
  
  .email-link a{
    gap: 1rem;
  }
}

/* Tablets - Landscape */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

  
  .contact-title {
    font-size: 100px;
    margin-bottom: 4rem;
  }

  
  .socials {
    gap: 2rem;
    margin-left: 25%;
    font-size: 15px;
  }
  
  .email-link {
    margin-left: 35%;
    font-size: 22px;
  }
}

/* Phones - Landscape */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* Your phone landscape styles go here */
}

/* Phones - Portrait */
@media only screen and (max-width: 480px) {
  /* Your phone portrait styles go here */
}
