#contact {
  width: 100vw;
  margin-top: 150px;
  font-family: "Inter";
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-title {
  font-size: 170px;
  width: 100vw;
  line-height: 120px;
  letter-spacing: 2x;
  color: rgb(51, 51, 50);
  font-family: "Inria Serif";
  font-style: italic;
  text-align: left;
  font-weight: 500;
  margin-bottom: 8rem;
  text-align: center;
}

.form-submit {
  display: flex;
  flex-direction: column;
}

.contact-socials {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  width: 100vh;
  text-align: center;
}

.email-link {
  display: flex;
  flex-direction: row;
  margin-left: 70%;
  font-size: 30px;
  color: #fe6a24;
}

.photo-socials {
  display: flex;
  flex-direction: row;
}
.socials-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: #fe6a24;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin-left: 45%;
  font-size: 30px;
}
