@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


#nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px 20px 80px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgba(39, 39, 39, 0.267);
  color: bisque;
  border-bottom: 3px solid rgb(106, 106, 106);
  
}

.about-projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15vw;
  font-size: 0.7rem;
}

.name{
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-family: "Inria Serif";
}

.experience-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 17vw;
  font-size: 0.7rem;
}

.dash-nav {
  font-size: 30px;
}