@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  width: 90vw;
  margin-left: 90px;
  background-color: #E9E2D6;
  color: rgb(52, 52, 52);
  border-bottom: 3px solid rgb(106, 106, 106);
  z-index: 900;
  font-family: "Inter";
   position: fixed;
   top: 0%;

}

.about-projects  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20vw;
  font-size: 15px;
  font-family: "Inter";
}

.about-projects a{
  color: black;
  padding: 10px 20px;
  border-radius: 40px;
}

.about-projects a:hover{
  color: white;
  background-color: #FE6A24;
  transition: 0.4s ease;
}


.name{
  display: flex;
  flex-direction: row;
  font-size: 30px;
  letter-spacing: 1px;
  font-family: "Inria Serif";
}

.experience-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20vw;
  font-size: 15px;
}

.experience-contact a{
  color: black;
  padding: 10px 20px;
  border-radius: 40px;
}

.experience-contact a:hover{
  color: white;
  background-color: #FE6A24;
  transition: 0.4s ease;
}

.dash-nav {
  font-size: 30px;
}